.container {
  margin: 20px;
}

.timeline {
  width: 100%;
  border-bottom: 1px solid black;
  background: #ddd;
}

mat-form-field {
  width: 300px;
  margin: 5px;
  font-size: 30px;
  display: inline-block;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  display: inline-block;
  margin-left: 30px;
}

.error {
  color: red;
  font-size: 18px;
}

h1 {
  display: inline-block;
  font-size: 50px;
  margin-left: 50px;
}

.timelineIndicator {
  display: flex;
  box-sizing: border-box;
}

.indicator {
  height: 40px;
  background: #ddd;
  flex: 1;
  border-left: 1px solid black;
}

.indicatorLabel {
  position: relative;
  bottom: 16px;
  right: 11px;
  width: 20px;
  text-align: center;
}

.lastIndicator {
  max-width: 0.5px;
}
