<div class="container">

  <form [formGroup]="sessionForm">

    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>
      <input matInput type="number" [formControl]="startTime" min="0" max="24">
    <mat-hint *ngIf="showError" class="error">Please enter a valid start and end time</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>
      <input matInput type="number" [formControl]="endTime" min="0" max="24">
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="addNewSession()">Add New Session</button>

    <h1 *ngIf="duration">Duration: {{duration}}</h1>

  </form>


  <div class="timeline">
    <div class="timelineIndicator">
      <div class="indicator"><div class="indicatorLabel">0</div></div>
      <div class="indicator"><div class="indicatorLabel">1</div></div>
      <div class="indicator"><div class="indicatorLabel">2</div></div>
      <div class="indicator"><div class="indicatorLabel">3</div></div>
      <div class="indicator"><div class="indicatorLabel">4</div></div>
      <div class="indicator"><div class="indicatorLabel">5</div></div>
      <div class="indicator"><div class="indicatorLabel">6</div></div>
      <div class="indicator"><div class="indicatorLabel">7</div></div>
      <div class="indicator"><div class="indicatorLabel">8</div></div>
      <div class="indicator"><div class="indicatorLabel">9</div></div>
      <div class="indicator"><div class="indicatorLabel">10</div></div>
      <div class="indicator"><div class="indicatorLabel">11</div></div>
      <div class="indicator"><div class="indicatorLabel">12</div></div>
      <div class="indicator"><div class="indicatorLabel">13</div></div>
      <div class="indicator"><div class="indicatorLabel">14</div></div>
      <div class="indicator"><div class="indicatorLabel">15</div></div>
      <div class="indicator"><div class="indicatorLabel">16</div></div>
      <div class="indicator"><div class="indicatorLabel">17</div></div>
      <div class="indicator"><div class="indicatorLabel">18</div></div>
      <div class="indicator"><div class="indicatorLabel">19</div></div>
      <div class="indicator"><div class="indicatorLabel">20</div></div>
      <div class="indicator"><div class="indicatorLabel">21</div></div>
      <div class="indicator"><div class="indicatorLabel">22</div></div>
      <div class="indicator"><div class="indicatorLabel">23</div></div>
      <div class="indicator lastIndicator"><div class="indicatorLabel">24</div></div>
    </div>
    <app-session-block
      *ngFor="let session of sessions"
      [session]="session"
    ></app-session-block>
  </div>

</div>
